{% extends 'base.html' %} {% block content %}
<div class="container text-center"> <h1>Table-Practice</h1></div>
<br><br>
<div class="container">
    <div class="row">filter options</div>

    <div class="row">
        <div class="col-md-12 table-responsive border-primary">
            <table class="table table-bordered table-striped text-center table-hover">
                <h3 class="table-title text-primary"> <a href="#">Products</a> </h3>
                <div class="row" style="text-align: left;">
                        <div class="col-md-1"> <b>#</b></div>
                        <div class="col-md-2"><b>Title</b> </div>
                        <div class="col-md-4"> <b>Description</b> </div>
                        <div class="col-md-4"> <b>variant</b> </div>
                        <div class="col-md-1"> <b>Action</b> </div>
                        <hr>
                </div>

                <div class="row" style="text-align: left;">
                    {% for product in products %}
                        <div class="col-md-1">{{forloop.counter}}</div>
                        <div class="col-md-2">{{product.title}}</div>
                        <div class="col-md-4">{{product.description}}</div>
                        <!-- backward filter from parent to child  -->
                        
                        <div class="col-md-4">
                            <div class="row">
                                {% for p in product.productvariantprice_set.all %}
                                <div class="col-md-4">{{p.product_variant_one.variant}}/{{p.product_variant_two.variant}}/{{p.product_variant_three.variant}}</div>
                                <div class="col-md-4">Price: {{p.price}}</div>
                                <div class="col-md-4">InStock: {{p.stock}}</div>
                                {% endfor %}
                            </div>
                        </div>
                        
                        <div class="col-md-1"><a href="#" class="btn btn-success">Edit</a></div>
                        <hr>
                        {% endfor %}
                </div>
                
            </table>
        </div>
    </div>
    <br> <br>
</div>

<!-- for paginators  -->
<div class="container">
    <div class="row">
      <div class="col-md-6">
        Showing {{products.start_index }} to {{products.end_index }} out of
        {{product_num}}
      </div>
      <div class="col-md-6" style="display: flex; justify-content: end">
        {% if products.has_other_pages %}
        <ul class="pagination">
          {% if products.has_previous %}
          <li>
            <a href="?page={{ products.previous_page_number }}">&laquo;</a>
          </li>
          {% else %}
          <li class="disabled"><span>&laquo;</span></li>
          {% endif %} 
          {% for i in products.paginator.page_range %} 
          {% if products.number == i %}
          <li class="active">
            <span class="p-2"
              >{{ i }} <span class="sr-only">(current)</span></span
            >
          </li>
          {% else %}
          <li><a href="?page={{ i }}" class="p-2">{{ i }}</a></li>
          {% endif %} 
          {% endfor %} 
          {% if products.has_next %}
          <li><a href="?page={{ products.next_page_number }}">&raquo;</a></li>
          {% else %}
          <li class="disabled"><span>&raquo;</span></li>
          {% endif %}
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}